<% include ./partials/header %>

<body>
  <div class="form-header">
    <div class="jumbotron">
      <h1 class="display-5">Stevens 150th Anniversary Nomination</h1>
      <hr class="my-4" />
      <p>
        This is dummy text that will explain the purpose of this nomination
        form.
      </p>
    </div>
    <% if (Object.keys(errors).length === 0) { %> <% } else { %>
    <h3 class="errors-heading">Oops, please correct the following:</h3>
    <ul class="errors-list">
      <% Object.values(errors).forEach(error => { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>
  </div>

  <!-- Webform -->
  <div class="container">
    <form
      method="post"
      action="/?_csrf=<%= csrfToken %>"
      novalidate
      enctype="multipart/form-data"
    >
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

      <!-- Nominee Name -->
      <div
        class="form-group form-field form-row <%= errors.nominee ? 'form-field-invalid' : '' %>"
      >
        <div class="col-3">
          <label for="nominee">Nominee Full Name</label>
          <input
            class="input form-control form-control-sm"
            id="nominee"
            name="nominee"
            type="text"
            alt="Nominee full name"
            placeholder="John Smith"
            autofocus
          /><% data.nominee %> <% if (errors.nominee) { %>
          <div class="error"><%= errors.nominee.msg %></div>
          <% } %>
        </div>
      </div>

      <!-- Nominator Name -->
      <div
        class="form-group form-field form-row <%= errors.nominator ? 'form-field-invalid' : '' %>"
      >
        <div class="col-3">
          <label for="nominator">Nominator Full Name</label>
          <input
            class="input form-control form-control-sm"
            id="nominator"
            name="nominator"
            type="text"
            alt="Nominator full name"
            placeholder="Jane Doe"
          /><% data.nominator %> <% if (errors.nominator) { %>
          <div class="error"><%= errors.nominator.msg %></div>
          <% } %>
        </div>
      </div>

      <!-- Nominator Email -->
      <div
        class="form-group form-field form-row <%= errors.email ? 'form-field-invalid' : '' %>"
      >
        <div class="col-3">
          <label for="email">Nominator Email</label>
          <input
            class="input form-control form-control-sm"
            id="email"
            name="email"
            type="email"
            alt="Nominator Email"
            placeholder="jane.doe@gmail.com"
          /><% data.email %> <% if (errors.email) { %>
          <div class="error"><%= errors.email.msg %></div>
          <% } %>
        </div>
      </div>

      <!-- Explanation for why this nominee -->
      <div
        class="form-group form-field form-row <%= errors.explanation ? 'form-field-invalid' : '' %>"
      >
        <div class="col-6">
          <label for="explanation">Explanation</label>
          <textarea
            class="input form-control form-control-sm"
            id="explanation"
            name="explanation"
            rows="4"
            alt="Explanation for why this nominee"
            placeholder="Please provide a brief explanation of why you would like to nominate this person."
          >
<%= data.explanation %></textarea
          >
          <% if (errors.explanation) { %>
          <div class="error"><%= errors.explanation.msg %></div>
          <% } %>
        </div>
      </div>

      <!-- File upload -->
      <div class="input-group mb-3">
        <div class="col-6 custom-file">
          <label class="custom-file-label" for="photo">Choose File</label>
          <input
            class="input custom-file-input"
            id="photo"
            name="photo"
            type="file"
            alt="Upload picture or video"
          />
        </div>
      </div>
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</body>

<% include ./partials/footer %>
